<head>
  <style>
  table, th, td {
    border : 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
  }

  h1#title {
    text-align: center;
  }

  div {
      position: relative;
      float: right;
  }

  form {
    padding: 60px;
  }

  body > form > label{
    font-weight: bold;
  }
  </style>
</head>


<body>

  <h1 id="title">The ulimate Foursquare Client</h1>

<div>
  <h2 id="search">Previous Searches</h2>
  {% for i in previous_searches %}
  <ul style="width:30px;">
    <li >{{i}}</li>
  </ul>
  {% endfor %}
</div>

  <form method = 'POST'>
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Search"/>
  </form>

  <h2 id="result">Results</h2>

  <table style = "width: 40%">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Checkin Count</th>
    </tr>

    {% for i in venues %}

    <tr>
      <td>{{i.name}}</td>
      <td>{{i.contact.phone}}</td>
      <td>{{i.stats.checkinsCount}}</td>
    </tr>

    {% endfor %}
  </table>

</body>
